<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>tools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "bootstrap" %>
    
    <% if content_for?(:importmap_tag) %>
      <%= yield(:importmap_tag) %>
    <% else %>
      <%= javascript_importmap_tags 'application' %>
    <% end %>
    <%= yield(:additional_scripts) %>

    <%# for mobile phone view %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag('smart_toy.svg', {:type => 'image/svg'}) %>

    <%# for fontawesome %>
    <script src="https://kit.fontawesome.com/099e8af6ba.js" crossorigin="anonymous"></script>
  </head>

  <body class="h-100">
    <%= render "layouts/header" %>

    <div class="container main-body">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

  </body>
</html>
